
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-right: 180px;

    .title {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        a {
            font-size: 24px;
        }
    }

    .title-top {
        
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 24px;
        }
    }

    .images {
        display: flex;
        img {
            width: 570px;
            height: 440px;
            margin: 3px;
        }

        .small-images {
            display: flex;
            img {
                width: 280px;
                height: 216px;
                margin: 3px;
            }
        }
    }

}

.price-content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.key-points {
    display: flex;
    flex-direction: column;
    a {
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        color: rgba(92, 92, 92, 1);
    }
}
mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    p {
        font-size: 18px;
        font-weight: bolder;
    }
}

mat-card {
    background-color: white;
}
