<div class="search">
    <mat-icon>search</mat-icon>
    <form class="search">
          <div class="field">
            <input type="name" 
                    matInput  
                    placeholder="Место">
            <mat-divider [vertical]="true"></mat-divider>
            <input type="name" 
                    matInput  
                    placeholder="Дата">
            <mat-divider [vertical]="true"></mat-divider>
            <input type="name" 
                    matInput  
                    placeholder="Гостей">
          </div>
    </form>
</div>
  