<div class="search">
        <form class="search">
                <button class="search-button"
                        mat-fab color="accent">
                        <mat-icon>
                                search
                        </mat-icon>
                </button>
                <div class="field">
                        <div class="place">
                                <a>Example 1</a>
                                <input type="name" 
                                       matInput
                                       [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                          {{option}}
                                        </mat-option>
                                </mat-autocomplete>
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div class="place">
                                <a>Example 2</a>
                                <div class="field">
                                        <input matInput
                                               [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                        <mat-icon matDatepickerToggleIcon>date</mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                </div>
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div class="place">
                                <a>Example 3</a>
                                <input type="number" 
                                        matInput>
                        </div>
                </div>
        </form>
</div>
  