<div class="search">
        <form class="search">
                <!-- <button class="search-button"
                        mat-fab color="accent"> -->
                        <mat-icon>
                                search
                        </mat-icon>
                <!-- </button> -->
                <div class="field">
                        <div class="place">
                                <input type="name" 
                                       matInput
                                       placeholder="Search books, authors"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                </mat-autocomplete>
                        </div>
                </div>
        </form>
</div>
  