.search {
  display: flex;
    width: 645px;
    margin-left: auto;
    background-color: white;
    height: 55px;
    border-radius: 30px;
    align-items: center;
}

mat-divider {
  height: 35px;
}

input {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  box-shadow: inset;
  font-size: 12px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  height: 45px;
  width: 45px;
  background-color: green;
  mat-icon {
    margin-left: 0px;
    font-size: 24px;
    color: white;
  }
}

.field {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;

  a{
    font-size: 12px;
    margin: 0px;
    height: 22px;
  }
  input {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}