<div>
    <mat-toolbar>
        <div class="header-content">
            <div>
                <a>
                    <span class="title">Crowdy</span>
                </a>
            </div>
            <search-bar></search-bar>
            <div class="buttons">
                    <button mat-button routerLink="/about"><a class="button-text">Туры</a></button>
                    <button mat-button (click)="openDialog()"><a class="button-text">Sign in</a></button>

            </div>
        </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>