<mat-toolbar>
     <div class="header-content">
        <div>
            <a>
                <span (click)="navigateToHome()"
                    class="title">Crowdy</span>
            </a>
        </div>
        <search-bar></search-bar>
        <div class="buttons">
            <button mat-button routerLink="/host-intro"><a class="button-text">Сделайте тур</a></button>
            <button mat-raised-button (click)="openDialog()"
                    *ngIf="!isAuthenticated"
            >
                <a class="button-text-sign-in">Войти</a>
            </button>
            <button style="border-radius: 20px;" mat-raised-button
                    *ngIf="!isAuthenticated"
                    [matMenuTriggerFor]="menu"
            >
                <mat-icon>menu</mat-icon>
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu"
                      xPosition="before">
                <button routerLink="/profile"
                        mat-menu-item>
                        Профиль
                </button>
                <button routerLink="/my-trips"
                        mat-menu-item>Мои поездки</button>
                <button routerLink="/organizer"
                        mat-menu-item>Я - хост!
                </button>
                <button mat-menu-item>Выйти</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
<mat-divider></mat-divider>