
mat-toolbar {
    display: flex;
    background-color: rgb(26, 25, 35);
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    margin-right: 30px;
    line-height: 29px;
    font-size: 16px;
    .button-text {
        color: white;
        background-color: rgb(26, 25, 35);
    }
    .button-text-sign-in {
        color: rgb(26, 25, 35);
        background-color: white;
    }
}

mat-divider {
    color: gray;
}
      
.title {
    color: white;
    margin-left: 65px;
    font-weight: bold;
    font-size: 24px;
}

.buttons {
    display: flex;
    margin-right: 40px;
    ::ng-deep .mat-menu-panel {
        padding: 0 10px!important;
        width: 300px;
      }
}

mat-divider {
    background-color: rgb(26, 25, 35);
}