<header></header>
<div>
    <div class="profile-info">
        <a>Привет, Kadirbek!</a>
    </div>
    <div class="content">
        <div class="trips">
            <a>Предстоящие поездки</a>
            <div class="tours-content">
                <mat-grid-list cols="4" rowHeight="150px" *ngFor="let i of [1, 2, 3]">
                    <mat-grid-tile>
                        <user-profile-tour-item></user-profile-tour-item>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div class="trips">
            <a>Предстоящие поездки</a>
            <div class="tours-content">
                <mat-grid-list cols="4" rowHeight="150px" *ngFor="let i of [1, 2, 3]" style="overflow-x: auto;">
                    <mat-grid-tile>
                        <user-profile-tour-item></user-profile-tour-item>
                    </mat-grid-tile>
                </mat-grid-list>
        </div>
        </div>
        <div class="trips">
            <a>Предстоящие поездки</a>
            <div class="tours-content">
                    <mat-grid-list cols="4" rowHeight="150px" *ngFor="let i of [1, 2, 3]">
                        <mat-grid-tile>
                            <user-profile-tour-item></user-profile-tour-item>
                        </mat-grid-tile>
                    </mat-grid-list>
            </div>
        </div>
    </div>
</div>