<div class="titles">
    <span class="title-crowdy">Crowdy</span>
    <span class="title">{{isSignupMode ? 'Sign up' : 'Login'}}</span>
</div>
<div mat-dialog-content class="content">
        <div *ngIf="error !== null">
            <a>{{error}}</a>
        </div>
        <div *ngIf="isLoading">
            <loading-spinner></loading-spinner>
        </div>
        <form *ngIf="!verificationMode && !isLoading"
              class="authorization-form"
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
        >
            <a class="form-titles">Email</a>
            <mat-form-field class="example-full-width" appearance="outline">
                <input type="email" 
                        matInput  
                        placeholder="example@example.com"
                        id="email"
                        formControlName="email"/>
            </mat-form-field>
            <a class="form-titles">Password</a>
            <mat-form-field class="example-full-width" appearance="outline">
                <input type="password" 
                       matInput
                       placeholder="a-z&0-9"
                        id="password"
                       formControlName="password"/>
            </mat-form-field>
            <div class="card-action">
                <button mat-stroked-button
                        type="submit"
                >
                <a *ngIf="isSignupMode === true; else login">Зарегистрироваться</a>
                <ng-template #login>Войти</ng-template>
                </button>
            </div>
        </form>
        <form *ngIf="verificationMode"
        class="authorization-form"
        [formGroup]="verificationCode"
        (ngSubmit)="sentVerification()"
        >
              <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Код для подтверждения</mat-label>
                  <input type="text" 
                         matInput
                         placeholder="0-9"
                         id="code"
                         formControlName="code"/>
              </mat-form-field>
              <div class="card-action">
                <button mat-stroked-button
                        type="submit"
                >
                <a>Зарегистрироваться</a>
                </button>
            </div>
  </form>
        <div *ngIf="!verificationMode" class="social-net-buttons">
            <img src="/assets/img/google_button.jpeg" alt="">
            <img src="/assets/img/facebook_button.jpeg" alt="">
        </div>
        
            <button *ngIf="!isSignupMode && !verificationMode"
                    (click)="changeToRegister()"
                    mat-flat-button
                    class="registration"
            >
                Нет аккаунта?</button>
            <button *ngIf="isSignupMode && !verificationMode"
                (click)="changeToLogin(); "
                mat-flat-button
                class="registration"
            >
            Уже есть аккаунт?</button>
        
        
    </div>
