:host {
    width: 400px;
}

.content {
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.title {
    font-size: 24px;
    margin-top: 10px;
}

.title-crowdy {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

.form-titles {
    margin-top: 20px;
}
  
  .example-full-width {
    width: 100%;
  }

  .card {
      width: 100%;
  }
  .card-action {
      text-align: center;
  }

  button {
      background-color: green;
      color: white;
      margin-top: 20px;
      width: 120px;
  }

  .registration {
      background-color: white;
      color: purple;
      width: 200px;
  }

  .social-net-buttons {
      display: flex;
      img {
          width: 50px;
          height: 50px;
          border-radius: 3px;
          margin-left: 5px;
          margin-right: 5px;
      }
  }