.content {  
    display: flex;
    .left-content {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 400px;

        .name {
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
        }

        .name-form {
            height: 50px;
            width: 350px;
        }

        .description-form {
            height: 350px;
            width: 350px;
        }

        a {
            font-size: 24px;
        }
    }
}

.bottom-bar {
    .bottom-buttons {
        display: flex;
        justify-content: space-between;
    }
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 500px;
}