<mat-card class="tour-card">
      <mat-card-content>
        <div class="ass">
            <img mat-card-image 
            class="mat-card-image"
            src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="card-content">
                <a class="header-place">Кольсай<mat-icon>place</mat-icon></a>
                <a class="date">11 фев. 2022 - 12фев. 2022</a>
                <a>Хост: Jaiq trip</a>
                <mat-divider></mat-divider>
                <a class="guests-number">50 гостей</a>
            </div>
        </div>
      </mat-card-content>
</mat-card>