.black-theme {
    background-color: rgb(26, 25, 35);
    height: 950px;
    width: 100%;

    .black-theme-content {
        display: flex;
        flex-direction: column;

        margin-top: 0px;

        .title {
            margin-top: 150px;
            margin-left: 80px;
            color: white;
            font-size: 36px;
        }

        .first-row {
            display: flex;
            justify-content: center;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 20px;
            img {
                width: 435px;
                height: 350px;
                margin: 10px;
                border-radius: 10px;
                border-top-left-radius: 10px;
            }
        }

        .second-row {
            display: flex;
            justify-content: center;
            img {
                width: 663px;
                height: 350px;
                margin: 10px;
                border-radius: 10px;
            }

            .long-image {
                height: 450px;
            }
        }
    }
}

.white-theme {
    background-color: white;
    height: 650px;
    margin-top: 150px;

    .white-theme-content {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        img {
            width: 1350px;
            height: 600px;
            margin: 10px;
            border-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
}

.tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tours-content {
        display: flex;
        margin-top: 40px;
    }
}

.title-black {
    margin-top: 100px;
    margin-left: 80px;
    color: black;
    font-size: 36px;
    font-weight: 500;
}

.tour-title {
    margin-top: 100px;
    color: black;
    font-size: 36px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}