.black-theme {
    background-color: white;

    .black-theme-content {
        display: flex;
        flex-direction: column;

        margin-top: 0px;

        .title {
            margin-top: 150px;
            margin-left: 80px;
            color: white;
            font-size: 36px;
        }

    }
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}