.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {

    top: 0px;
    left: 0px;
    right: 0px;
}

.books {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}